$maxMobile: 610px;
// 
// basic responsive mixin
//
@mixin media($size) {
  @media only screen and (max-device-width: $size){
  	@content;
  }
}
@mixin mediaMobile($maxSize) {
  @media only screen and (min-width: 0px) and (max-width: $maxSize){
	@content;
  }
}
.skSRA-curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, 0.7);
  z-index: 10001;
  cursor: pointer;
  
  display: none;
  margin: 0;
  padding: 0;
  
}
.skSRA-notify {
	position: absolute;
	padding:10px;
	border-radius: 5px;
	background: #000;
	color: #FFF;
	display: none;
	//margin: 50px auto 30px auto;
	min-width:250px;
	min-height: 200px;
	max-width: 610px;
	max-height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*top:0;
	bottom: 0;
	left: 0;
	right: 0;
	*/
	//z-index:10002;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	overflow:hidden;
	@include mediaMobile($maxMobile) {
		max-width: 350px;
		margin-top: 30px;
	}

}
.skSRA-notify-message {
	padding:50px 20px 10px 20px;
	margin-bottom: 15px;
	color: #FFF;
	text-align: left;
	font-size: 1.2em;
	text-align: center;
	word-wrap: break-word;
}
.skSRA-notify-controls {
	margin:auto;
}